.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 400px !important;
}

.right {
  text-align: right;
}

#sidebar-divider {
  margin: 20px 0px;
}

#sidebar-display {
  display: none;
  height: 100%;
  background-color: #eee;
}

.slider-label {
  margin-top: 40px;
}

.rec-rating , .wages-rating, .labor-rating{
  width: 75%;
  margin-left: 100px;
  margin-top: -10px;
  margin-bottom: 30px;
}
.value:before, .value {
  content: "Value: ";
  font: 10px Helvetica Neue;
  padding-right: 5px;
}