<html lang="en" ng-app="StarterApp">
<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <meta name="viewport" content="initial-scale=1" />
  <link rel="stylesheet" href="css/laborvoices.css">
  <link rel="stylesheet" href="css/nouislider.css">
  <script src="js/nouislider.min.js"></script>
</head>
<body layout="column" ng-controller="AppCtrl">
  <!-- Header Bar -->
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
      <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
      </md-button>
      <h1>Laborvoices</h1>
    </div>
  </md-toolbar>
<div layout="row" flex>
  <!-- Sidebar -->
  <md-sidenav layout="column" class="md-padding md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <!-- Search bar -->
    <div layout>
      <!-- <input ng-model="query" class="searchbar"> -->
      <md-input-container flex>
        <label>search...</label>
        <input ng-model="query" id="searchbar">
      </md-input-container>
    </div>
    <!-- Container for all the filters -->
    <div layout class="filter" layout-wrap>
      <div flex="30" layout layout-align="center center">
        <span class="md-body-1">worker rec</span>
      </div>
      <div flex="70" class="rec-rating">
        <div id="slider-rec"></div>
        <span class="value" id="slider-rec-min"></span>
        <span class="value" id="slider-rec-max"></span>
      </div>

      <div flex="30" layout layout-align="center center">
        <span class="md-body-1">wages</span>
      </div>
      <div flex="70" class="wages-rating">
        <div id="slider-wages"></div>
        <span class="value" id="slider-wages-min"></span>
        <span class="value" id="slider-wages-max"></span>
      </div>

      <div flex="30" layout layout-align="center center">
        <span class="md-body-1">labor</span>
      </div>
      <div flex="70" class="labor-rating">
        <div id="slider-labor"></div>
        <span class="value" id="slider-labor-min"></span>
        <span class="value" id="slider-labor-max"></span>
      </div>
      <!-- Size Rating -->
      <!-- <div flex="30" layout layout-align="center center">
        <span class="md-body-1">size</span>
      </div>
      <div flex="70">
        <md-slider md-discrete ng-model="rating1" step="1" min="1" max="5" aria-label="rating">
        </md-slider>
      </div> -->
    </div>
    <md-divider id="sidebar-divider"></md-divider>
    <md-content layout id="sidebar-display" class="md-margin md-padding">
      <div layout layout-align="start center" id="factory-display" layout-wrap>
        <!-- Name and score -->
        <div flex="70" layout class="md-title" id="factory-name"></div>
        <div flex="30" layout layout-align="end" class="md-title">
          <span id="factory-score"></span>/10
        </div>
        <!-- Pictures -->
        <div flex="100" layout layout-padding id="factory-pictures" layout-align="center center">
          <div class="md-caption">
           <!-- TODO: check out grid list on Angular Materials for displaying pictures-->
          </div>
        </div>
        <!-- Size -->
        <div flex="70" layout layout-align="start" class="md-subhead">size</div>
        <div flex="30" layout layout-align="end" class="md-body-1" id="factory-size"></div>

        <!-- Wages -->
        <div flex="70" layout layout-align="start" class="md-subhead">wages</div>
        <div flex="30" layout layout-align="end" class="md-body-1" id="factory-wages"></div>

        <!-- Satisfaction -->
        <div flex="70" layout layout-align="start" class="md-subhead">satisfaction</div>
        <div flex="30" layout layout-align="end" class="md-body-1" id="factory-satisfaction"></div>

        <!-- Safety -->
        <div flex="70" layout layout-align="start" class="md-subhead">safety</div>
        <div flex="30" layout layout-align="end" class="md-body-1" id="factory-safety">
          <!-- TODO: some sort of checkbox for the different safety criteria? -->
        </div>
      </div>
    </md-content>
  </md-sidenav>

  <!-- Main page content -->
  <div layout="column" flex id="content">
    <md-content layout="column" flex class="md-padding">
  </md-content>
  </div>
</div>

<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
<script src="js/laborvoices.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA99SeuHN61mrAF-HhLOBFscR9JKeDKUmE&callback=initMap">
</script>
</body>
</html>